body {
	
	background-color: white;
}

.picture {
	
	position: fixed;
	top: 36.4%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 272px;
}

.picture2 {
	position: fixed;
	right: 8.5%;
	top: 3%;
	width: 17px;
	color: grey;
}

.search_bar {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 580px;
	height: 40px;
	border: 1px 1px;
	border-color: grey;
	border-style: solid;
	box-shadow: 5px 10px #888888;

}

.google_search {
	position: fixed;
	top: 60%;
	left: 45%;
	transform: translate(-50%, -50%);
	border: 1px 1px;
	color: #808080;
	background-color: #d8d8d8;
}

.feeling_lucky {

	position: fixed;
	top: 60%;
	left: 55%;
	transform: translate(-50%, -50%);
	border: 0.5px 0.5px;
	color: #808080;
	
	background-color: #d8d8d8;
}


.country {
	background-color: #d8d8d8;
	position: fixed;
	bottom:8%;
	left:2%;
}

.random_info1 {
	background-color: #d8d8d8;
	position: fixed;
	bottom:2%;
	left:2%;
}

.random_info2 {
	background-color: #d8d8d8;
	position: fixed;
	bottom:2%;
	right:2%;
}

.gmail {
	position: fixed;
	right: 15%;
	top: 3%;

}

.images {
	position: fixed;
	right: 11%;
	top: 3%;
}

.sing_in {
	position: fixed;
	right: 3%;
	top: 3%;
	border: 1px 1px;
	background-color: blue;
}