body {
	
	background-color: white;
	font-family: arial,sans-serif;
}

.picture {
	
	position: fixed;
	top: 36.4%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 272px;
}

.picture2 {
	position: fixed;
	right: 8.4%;
	top: 3.5%;
	width: 16px;
	color: grey;
	width: 272px;
}

.search_bar {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 580px;
	height: 40px;
	border: 1px 1px;
	border-color: grey;
	border-style: solid;
	box-shadow: 5px 10px #888888;

}

.google_search {
	position: fixed;
	top: 60%;
	left: 45%;
	transform: translate(-50%, -50%);
	border: 1px 1px;
	color: #808080;
	background-color: #d8d8d8;
}

.feeling_lucky {

	position: fixed;
	top: 60%;
	left: 55%;
	transform: translate(-50%, -50%);
	border: 0.5px 0.5px;
	color: #808080;
	
	background-color: #d8d8d8;
}




.bottom_border {
	background-color: #d8d8d8;
	position: fixed;
	width: 100%;
	bottom:0px;
	left: 0px;
}

.bottom_border2 {
	position: fixed;
	width: 100%;
	bottom:40px;
	left: 0px;
	background-color: #d8d8d8;
}

.random_info1, .country {
	background-color: #d8d8d8;
	position: fixed;
	bottom:0%;
	left:0%;
	font-size: 13px;
	list-style-type: none;
	margin: 0;
  	padding: 10px;
  	float: right;
  	width: 100%;
  	right:0%;
}

.country {

	bottom:8% !important;
		
}


li {
	display: inline;
  	
}

#right {

	float: right;
	
}


.gmail {
	position: fixed;
	right: 15%;
	top: 3%;
	font-size: 13px;

}

.images {
	position: fixed;
	right: 11%;
	top: 3%;
	font-size: 13px;
}

.sing_in {
	position: fixed;
	right: 3%;
	top: 3%;
	border: 1px 1px;
	background-color: blue;
	font-size: 14px;
}